<html>
<header>
	<h1> Projection of Beam </h1>
 	<!-- making of the dropdown -->
 			<form class="row" >
		 			<fieldset class="col-sm-4" >
		 				<legend>Beam Specifications</legend>
		 				<span>Length of the beam :</span> <input class="inputSt" id="lenSel" type="text" placeholder="Length"> mm<br />
		 				<span>Depth of the beam :</span> <input class="inputSt" id="depSel" type="text" placeholder="Depth"> mm<br />
		 				<span>Width of the beam :</span> <input class="inputSt" id="widSel" type="text" placeholder="Width"> mm<br />
		 			</fieldset>
		 			<fieldset class="col-sm-4" >
		 				<legend>Bars Specifications </legend>
		 				<span>Diameter of the Main Bar :</span>
		 				<select id="mainSel" >
		 					<option value="0" >Select -- </option>
		 					<option value="12" >12 mm</option>
		 					<option value="20" >20 mm</option>
		 					<option value="25" >25 mm</option>		
		 				</select>
		 				<br />
		 				<span>Diameter of the Anchor Bar :</span>
		 				<select id="anchorSel">
		 					<option value="0" >Select -- </option>
		 					<option value="8" >8 mm</option>
		 					<option value="10" >10 mm</option>
		 					<option value="12" >12 mm</option>		
		 				</select>
		 				<br />
		 				<!--<b>Diameter of the Curtailed Bar :</b>
		 				<select id="curtSel">
		 					<option value="0" >Select 0 </option>
		 					<option value="6" >6 mm</option>
		 					<option value="7" >7 mm</option>
		 					<option value="8" >8 mm</option>		
		 				</select>
		 				<br />-->
		 			</fieldset>
		 			<fieldset class="col-sm-4" >
		 				<legend>Stirrup Specifications </legend>
		 				<span>Spacing between Stirup Bars :</span> <input class="inputSt" id="spaceSel" type="text" placeholder="Spacing"> mm<br />
		 				<span>Diameter of Stirup Bar :</span>
		 				<select id="stirupSel">
		 					<option value="0" >Select -- </option>
		 					<option value="8" >8 mm</option>
		 					<option value="10" >10 mm</option>		
		 				</select>
		 				<br />	 				
		 			</fieldset>
	 		</form><br />
	 	<div class="row" id="adjustBtn" >
	 		<button ng-click="drawit()" class="btn" >Submit</button>
	 		<button ng-click="resetBeam()" class="btn" >Reset</button>
	 		<button class="btn" onclick="print()" >Print</button>
	 		<button class="btn" ng-click="downloadPdf()" >Download</button>
	 	</div><hr />
</header>
<div ng-include ="beamInc" >
</div>
</html>
