<html>
<section>
	<!-- making of canvas -->
	 <div class="row" >
		 <div class="col-lg-4" ><h3>Cross-Section View of Beam (Left-side)</h3>
		 <canvas id="can1" width=400 height=450></canvas></div>
	     <div class="col-lg-4" ><h3>Cross-Section View of Beam (Right-side)</h3>
		 <canvas id="can2" width=400 height=450></canvas></div>
	     <div class="col-lg-4" ><h3>Cross-Section View of Beam (Center-view)</h3>
		 <canvas id="can3" width=400 height=450></canvas></div>
     </div><hr />
     <div><h2><center>Internal View of Beam</center></h2>
     <canvas id="can4" width=1250 height=570></canvas></div>
    <!-- end of making canvas -->	
</section>
</html>