<header>
	   <div><h1> Projection of Table </h1></div><br />
	  <!-- making of the dropdown -->
		<form action="" method="" class="row" >
			<div class="col-sm-2" >
	            <span>Width of the Table : </span>		
			   <select name="" id="sell1" >
				   <option value="0">Select --</option>
				   <option value="100">100 mm</option>
				   <option value="150">150 mm</option>
				   <option value="200">200 mm</option>
				   <option value="250">250 mm</option>
				   <option value="300">300 mm</option>
				   <option value="350">350 mm</option>
				   <option value="400">400 mm</option>
				   <option value="450">450 mm</option>
				   <option value="500">500 mm</option>
			   </select>
			</div>
			<div class="col-sm-2" >
			    <span>Length of the Table : </span>
			   <select name="" id="sell2">
				   <option value="0">Select --</option>
				   <option value="100">100 mm</option>
				   <option value="150">150 mm</option>
				   <option value="200">200 mm</option>
				   <option value="250">250 mm</option>
				   <option value="300">300 mm</option>
				   <option value="350">350 mm</option>
				   <option value="400">400 mm</option>
				   <option value="450">450 mm</option>
				   <option value="500">500 mm</option>
			   </select>
			</div>
			<div class="col-sm-2" >
			   <span>Height of the Table : </span>
			   <select name="" id="sell3">
				   <option value="0">Select --</option>
	               <option value="100">100 mm</option>
				   <option value="150">150 mm</option>
				   <option value="200">200 mm</option>
				   <option value="250">250 mm</option>
				   <option value="300">300 mm</option>
				   <option value="350">350 mm</option>
				   <option value="400">400 mm</option>
				   <option value="450">450 mm</option>
				   <option value="500">500 mm</option>
			   </select>
			</div>
			<div class="col-sm-2" >
			    <span>Width of top of Table : </span>
			   <select name="" id="sell4">
				   <option value="0">Select --</option>
				   <option value="10">10 mm</option>
				   <option value="15">15 mm</option>
				   <option value="20">20 mm</option>
				   <option value="25">25 mm</option>
				   <option value="30">30 mm</option>
				   <option value="35">35 mm</option>
				   <option value="40">40 mm</option>
				   <option value="45">45 mm</option>
				   <option value="50">50 mm</option>
			   </select>
			</div>
			<div class="col-sm-2" >
			    <span>Width of leg of the Table : </span>
			   <select name="" id="sell5">
				   <option value="0">Select --</option>
				   <option value="10">10 mm</option>
				   <option value="15">15 mm</option>
				   <option value="20">20 mm</option>
				   <option value="25">25 mm</option>
				   <option value="30">30 mm</option>
				   <option value="35">35 mm</option>
				   <option value="40">40 mm</option>
				   <option value="45">45 mm</option>
				   <option value="50">50 mm</option>
			   </select>
			</div>
			<div class="col-sm-2" >
			   <span>Length of leg of the Table : </span>
			   <select name="" id="sell6">
				   <option value="0">Select --</option>
				   <option value="10">10 mm</option>
				   <option value="15">15 mm</option>
				   <option value="20">20 mm</option>
				   <option value="25">25 mm</option>
				   <option value="30">30 mm</option>
				   <option value="35">35 mm</option>
				   <option value="40">40 mm</option>
				   <option value="45">45 mm</option>
				   <option value="50">50 mm</option>
			   </select>	
			</div>	  
		</form>
		<br />
		<!-- making of buttons -->
		<div class="row" id="adjustBtn" >		
			<button ng-click="change()" class="btn" >Submit</button>
			<button ng-click="reset()" class="btn" > Reset </button>
	        <button onclick="print()" class="btn" > Print </button>	
	    </div>	<hr />		
</header>
<div ng-include ="tableInc" >
</div>
