<html>
<section>
	<!-- making of canvas -->
	<div class="row" >
	    <div class="col-lg-6" >
		   <h2>Front View</h2>
	       <canvas id="canvasA" width="550" height="550" />
		</div>
		<div class="col-lg-6">
		   <h2>Side View</h2>
	       <canvas id="canvasB" width="550" height="550" />
		</div>
	</div>
	<div class="row" >
	  	<div class="col-lg-6" >
		   <h2>Top View</h2>
	       <canvas id="canvasC" width="550" height="550" />
		</div>
		<div class="col-lg-6" >
		   <h2>Bottom View</h2>
	       <canvas id="canvasD" width="550" height="550" />
		</div>
	</div>
	  <!-- end of making canvas -->	
</section><hr />
</html>
