#can1, #can2, #can3, #can4{
	border-top: 1px solid #D1D1D1;
	/*border-top-left-radius: 10px;*/

}


.inputSt{
	width: 100px;
	margin-bottom : 4px;
	padding-left: 2px;
}

#lenSel{
	margin-left: 13px;
}
#depSel{
	margin-left: 18px;
} 
#widSel{
	margin-left: 20px;
}
#spaceSel{
	margin-left: 3px;
}

#mainSel , #anchorSel , #stirupSel{
	margin-bottom: 4px;
	width: 100px;
	border-radius: 2px;
    background-color: #f1f1f1;
}

#mainSel{
	margin-left: 24px;
}
#anchorSel{
	margin-left: 10px;
}

#stirupSel{
	margin-left: 45px;
}


/*6 8 12 10 16 20 25 32 36 

slab 10 12 
main beam 12 16 20 25
str 8 10 
anch 10 12 

anch 2
main 2 4 */
